body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #121212;
}
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}
header {
    position: relative;
    background: url('images/images/teaser.png') no-repeat center center/cover;
    color: #fff;
    padding: 320px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
header h1 {
    position: relative;
    z-index: 2;
    margin: 0;
    font-size: 2.5em;
    font-weight: 500;
}
header .details {
    position: relative;
    z-index: 2;
    margin: 10px 0 0;
    font-size: 1.2em;
    font-weight: 400;
}
header .links {
    position: relative;
    z-index: 2;
    margin: 20px 0 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
header .links a {
    color: #121212;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1em;
    background: #ffffff;
    border-radius: 5px;
    transition: background 0.3s, transform 0.3s;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 150px;
    justify-content: center;
}
header .links a:hover {
    background: #e0e0e0;
    transform: translateY(-3px);
}
.main {
    margin-top: 20px;
}
.section {
    background: #ffffff;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
}
.section-abstract {
    /* 可以自己调整比例 */
    width: 100%;
}
.section-other {
    /* 可以自己调整比例 */
    width: 100%;
}
.section-abstract h2, .section-abstract p {
    text-align: left;
}
h2 {
    color: #121212;
    padding-bottom: 10px;
    margin-bottom: 30px;
    font-size: 1.75em;
    position: relative;
}
.section-other h2::after {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    background: #121212;
    position: absolute;
    bottom: -2px;
    left: 0;
}
.abs {
    
    /*text-align: justify;
*/
    
    line-height: 1.8;
    margin-bottom: 20px;
}
.video, .image {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.video iframe, .image img {
    width: 80%;
    max-width: 100%;
    height: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.image img {
    width: calc(50% - 10px);
}
.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    background: #ffffff;
    color: #121212;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s, transform 0.3s;
}
.button:hover {
    background: #e0e0e0;
    transform: translateY(-3px);
}


.video-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.video-grid video {
    width: 100%;
    height: auto;
}


.titanic-title {
    width: 600;
    text-align: center;
    margin-bottom: 20px;
}

.add-div{
    position:relative;
    /* 自己调整比例 */
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    overflow:hidden;
    text-align: center;
}
.add-story{
    position: absolute;
    display: block;
    min-width: 100%;
    min-height: 100%;
}



.links-demo {
    position: relative;
    z-index: 2;
    margin: 20px 0 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.links-demo a {
    color: #121212;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1em;
    background: #ffffff;
    border-radius: 5px;
    transition: background 0.3s, transform 0.3s;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 150px;
    justify-content: center;
}
.links-demo a:hover {
    background: #e0e0e0;
    transform: translateY(-3px);
}


.carousel {
    position: relative;
    /* 第1个轮播图调整比例 */
    max-width: 100%;
    height: auto;
    Display: Flex;
    align-items: center;
    margin: auto;
    overflow: hidden;
}
.carousel-inner {
    display: flex;
    transition: transform 1s ease;
}
.carousel img {
    width: 100%;
    flex: 0 0 100%;
}
.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.carousel-buttons button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}
.carousel-buttons button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.carousel1 {
    position: relative;
    /* 第二个轮播图调整比例 */
    max-width: 100%;
    height: auto;
    Display: Flex;
    align-items: center;
    margin: auto;
    overflow: hidden;
}
.carousel-inner1 {
    display: flex;
    transition: transform 1s ease;
}
.carousel1 img {
    width: 100%;
    flex: 0 0 100%;
}
.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.carousel-buttons button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}
.carousel-buttons button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


.carousel2 {
    position: relative;
    /* 第3个轮播图调整比例 */
    max-width: 100%;
    height: auto;
    Display: Flex;
    align-items: center;
    margin: auto;
    overflow: hidden;
}
.carousel-inner2 {
    display: flex;
    transition: transform 1s ease;
}
.carousel2 img {
    width: 100%;
    flex: 0 0 100%;
}
.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.carousel-buttons button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}
.carousel-buttons button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


.bibtex-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    margin: auto;
}
pre {
    
    /*font-family: 'helvetica now';
    */

    background: #f4f4f4;
    padding: 15px;
    font-size: 100%;
    border-radius: 5px;
    overflow-x: auto;
}
.bibtex-entry {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
